<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OdbcConnectionString" providerName="Siebel dev (for using on server SIEBELAPPDEV02)" connectionString="Dsn=SEAW enDEV;Uid=Siebel; Password=Siebel" />
    <!--<add name="OdbcConnectionString"
       providerName="Siebel Test (for using on server SIEBELFRONTTST)"
       connectionString="Dsn=enTST_DSN;Uid=Siebel; Password=Siebel" />-->
  </connectionStrings>
  <appSettings>
    <add key="DefaultFolderWsdl" value="%userprofile%\downloads\" />
    <add key="DefaultFolderWsXml" value="C:\Siebel\15.0.0.0.0\Tools\OBJECTS" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>