<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OdbcConnector32.Properties.Settings.ConnectionString"
            connectionString="Data Source=SIEBELOUI_TST;User ID=siebel;Password=siebel;Unicode=False"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>